body {
    background-image: url(ALEXIS.jpg);
    background-color: #CBC3E3;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-position: center;
    width: 75%;
}
h1 {
    color: black;
    font-size: 30px;
}
